{% extends 'index.html' %}

{% block title %} users {% endblock %}

{% block admin_content %}

<!-- <h1 class="alert alert-success">users</h1> -->
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-primary">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        26K
                        <span class="fs-6 fw-normal">(-12.4%
                            <svg class="icon">
                                <use
                                    xlink:href="{{url_for('static', filename='vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom')}}">
                                </use>
                            </svg>)</span>
                    </div>
                    <div>Users</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another
                            action</a><a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-info">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        $6.200
                        <span class="fs-6 fw-normal">(40.9%
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-top"></use>
                            </svg>)</span>
                    </div>
                    <div>Income</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another
                            action</a><a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-warning">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        2.49%
                        <span class="fs-6 fw-normal">(84.7%
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-top"></use>
                            </svg>)</span>
                    </div>
                    <div>Conversion Rate</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another
                            action</a><a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3" style="height: 70px">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-danger">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        44K
                        <span class="fs-6 fw-normal">(-23.6%
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom"></use>
                            </svg>)</span>
                    </div>
                    <div>Sessions</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another
                            action</a><a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height: 70px">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table border mb-0">
            <thead class="table-light fw-semibold">
                <tr class="align-middle">
                    <th class="text-center">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-people"></use>
                        </svg>
                    </th>
                    <th>نام کاربر</th>
                    <th class="text-center">شماره همراه</th>
                    <th>Usage</th>
                    <th class="text-center"> گروه بندی </th>
                    <th>فعالیت ها</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="align-middle">
                    <td class="text-center">
                        <div class="avatar avatar-md"><img class="avatar-img"
                                src="{{url_for('static', filename='assets/img/avatars/1.jpg')}}"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </td>
                    <td>
                        <div>{{user.name}}</div>
                        <div class="small text-medium-emphasis">
                            <span class="me-2"> ثبت نام : </span><span>{{ moment(user.created_at).fromNow() }}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <svg class="icon icon-xl">
                            <use
                                xlink:href="{{url_for('static', filename='vendors/@coreui/icons/svg/flag.svg#cif-us')}}">
                            </use>
                        </svg>
                        {{user.phone}}
                    </td>
                    <td>
                        <div class="clearfix">
                            <div class="float-start">
                                <div class="fw-semibold">50%</div>
                            </div>
                            <div class="float-end"><small class="text-medium-emphasis">Jun 11, 2020 - Jul 10,
                                    2020</small></div>
                        </div>
                        <div class="progress progress-thin">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <svg class="icon icon-xl">
                            <use xlink:href="vendors/@coreui/icons/svg/brand.svg#cib-cc-mastercard"></use>
                        </svg>
                        {% if user.role <= 1 %} <span class='badge rounded-pill bg-danger fs-7'> ادمین </span>
                            {% elif user.role == 2 %}
                            <span class='badge rounded-pill bg-success fs-7'> کاربر عادی </span>
                            {% endif %}
                    </td>
                    <td>
                        <div class="small text-medium-emphasis">آخرین ورود </div>
                        <div class="small text-medium-emphasis">{{moment(user.login_at).fromNow()}}</div>
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-cog fa-lg"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item text-info text-start" href="#">
                                    <span class="fa-solid fa-vcard"></span>
                                    <span class="text-sm">اطلاعات بیشتر</span>
                                </a>
                                <a class="dropdown-item text-success text-start" href="#">
                                    <span class="fa-solid fa-pencil"></span>
                                    <span>ویرایش</span>
                                </a>
                                <a class="dropdown-item text-danger text-start" href="#">
                                    <span class="fa-solid fa-trash"></span>
                                    <span>حذف</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-2">
            {% if users.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('admin.users', page=users.prev_num)}}">قبلی</a>
            </li>
            {% endif %}
            {% for page_number in users.iter_pages() %}
                {% if page_number %}
                <li class="page-item"><a class="page-link" href="{{url_for('admin.users', page=page_number)}}">{{page_number}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('admin.users', page=users.next_num)}}">بعدی</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}