<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Admin Panel 1403 - {% block title %}{% endblock %}</title>
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/simplebar/css/simplebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendors/simplebar.css')}}">
    <!-- Main styles for this application-->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="{{url_for('static', filename='css/examples.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendors/@coreui/chartjs/css/coreui-chartjs.css')}}" rel="stylesheet">
</head>

<body>
    {% include 'flash.html' %}
    {% block content %} {% endblock %}

    <!-- CoreUI and necessary plugins-->
    <script src="{{url_for('static', filename='vendors/@coreui/coreui/js/coreui.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/simplebar/js/simplebar.min.js')}}"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{{url_for('static', filename='vendors/chart.js/js/chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/@coreui/chartjs/js/coreui-chartjs.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/@coreui/utils/js/coreui-utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/htmx.min.js')}}"></script>
</body>

</html>